body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    align-items: center;
    background-color: rgb(251, 253, 255);
}

.heading {
    font-size: 3rem;
    text-align: center;
}

.label {
    font-size: .8rem;
}

.form {
    display: grid;
    gap: 1rem;
    width: 200px;
    background-color: rgb(227, 255, 252);
    border-radius: .5rem;
    padding: 1rem 2rem;
}

.submit__btn {
    all: unset;
    cursor: pointer;
    background-color: rgb(39, 39, 39);
    color: white;
    text-align: center;
    padding: .5rem .9rem;
    font-size: .8rem;
    margin-top: 1rem;
    width: fit-content;
    justify-self: end;
    border-radius: .2rem;
}

/* custom select styles */

span {
    display: block;
}

.custom__select__wrapper {
    position: relative;
}

.custom__select {
    padding: .5rem 1rem;
    margin: 0;
    border-top-left-radius: .2rem;
    border-top-right-radius: .2rem;
    background-color: rgb(39, 39, 39);
    color: white;
    font-size: .8rem;
    cursor: pointer;
}

.arrow__down {
    position: absolute;
    top: 10px;
    right: 10px;
    border-top: 10px solid white;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    display:block;
    cursor: pointer;
}

.arrow__up {
    position: absolute;
    top: 10px;
    right: 10px;
    border-bottom: 10px solid white;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    display: none;
    cursor: pointer;
}

.options__wrapper {
    /* padding: .2rem 0; */
    height: 120px;
    overflow-y: scroll;
    /* border-radius: .5rem; */
    background-color: rgb(255, 255, 255);
    visibility: hidden;
    opacity: 0;
    /* visibility's transition is longer to make sure the dropdown is hidden before it makes it impossible to interact with */
    transition: opacity .3s, visibility .4s;
    /* We can transition height and opacity as another way to implement smooth open / closed state of select options */
    /* height: 0px;
    transition: opacity .3s, height .1s; */
}

.options__wrapper::-webkit-scrollbar {
    width: 10px;
}

.options__wrapper::-webkit-scrollbar-track {
    background-color: rgb(26, 25, 25);
}

.options__wrapper::-webkit-scrollbar-thumb {
    background-color: rgb(196, 196, 196);
    height: 5px;
}

.option {
    cursor: pointer;
    padding: .2rem 1rem;
    /* border-radius: .5rem; */
    font-size: .9rem;
}

.option:hover {
    font-weight: bold;
    transition: font-weight .2s;
    /* color: white; */
}

/* .option:hover::before {
    content: '✓';
    padding-right: .2rem;
    color: green;
} */

.show {
    visibility: visible;
    opacity: 1;
}

/* Another option to implement smooth open / close states of select is to transition height and opacity */
/* .show {
    height: 80px;
    opacity: 1;
} */

input[type='checkbox'] {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

/* not needed for now and likely will be deleted as new approach for now in my mind is to have another element with ::before style */
/* input[type='checkbox']::after {
    content: '\f00c';
    font-family: "Font Awesome 7 Free";
    font-weight: 900;
    position: absolute;
    top: 0;
    right: 0;
    width: fit-content;
    z-index: -1;
} */

input[type='checkbox']:hover {
    background-color: white;
}
