body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    align-items: center;
}

.heading {
    font-size: 3rem;
    text-align: center;
}

.label {
    font-size: .8rem;
}

.form {
    display: grid;
    gap: 1rem;
    width: 200px;
}

.submit__btn {
    margin-top: 1rem;
}

/* custom select styles */

span {
    display: block;
}

.custom__select__wrapper {
    position: relative;
}

.custom__select {
    padding: .5rem 1rem;
    margin: 0;
    border-radius: .5rem;
    background-color: black;
    color: white;
    font-size: .8rem;
    cursor: pointer;
}

.arrow__down {
    position: absolute;
    top: 10px;
    right: 10px;
    border-top: 10px solid white;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    display:block;
}

.arrow__up {
    position: absolute;
    top: 10px;
    right: 10px;
    border-bottom: 10px solid white;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    display: none;
}

.options__wrapper {
    padding: .5rem 1.2rem;
    height: 80px;
    overflow-y: scroll;
    border-radius: .5rem;
    background-color: beige;
    visibility: hidden;
    opacity: 0;
    /* visibility's transition is longer to make sure the dropdown is hidden before it makes it impossible to interact with */
    transition: opacity .3s, visibility .4s;
    /* We can transition height and opacity as another way to implement smooth open / closed state of select options */
    /* height: 0px;
    transition: opacity .3s, height .1s; */
}

.option {
    cursor: pointer;
    padding: .2rem 1rem;
    border-radius: .5rem;
}

.option:hover {
    background-color: rgb(243, 243, 243);
}

.option:hover::before {
    content: '✓';
    padding-right: .2rem;
    color: green;
}

.show {
    visibility: visible;
    opacity: 1;
}

/* Another option to implement smooth open / close states of select is to transition height and opacity */
/* .show {
    height: 80px;
    opacity: 1;
} */