body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    align-items: center;
}

.heading {
    font-size: 3rem;
    text-align: center;
}

.label {
    font-size: .8rem;
}

.form {
    display: grid;
    gap: 1rem;
    width: 200px;
}

.submit__btn {
    margin-top: 1rem;
}

/* custom select styles */

span {
    display: block;
}

.custom__select {
    padding: .5rem 1rem;
    margin: 0;
    border-radius: .5rem;
    background-color: black;
    color: white;
    font-size: .8rem;
    cursor: pointer;
}

.options__wrapper {
    border: 1px solid rgb(22, 21, 21);
    padding: .5rem 1.5rem;
    height: 80px;
    overflow-y: scroll;
    border-radius: .5rem;
    background-color: beige;
}

.option {
    cursor: pointer;
    padding: .2rem 1rem;
    border-radius: .5rem;
}

.option:hover {
    background-color: rgb(177, 145, 104);
}

.show {
    display: block;
}

.hide {
    display: none;
}